* {
  margin: 0;
  padding: 0; }
  

body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif; 
  color: #FFFFFF;
  }
  

/* footer */
footer {

  background-color: #00FFFF;
  position:fixed;
  width: 100%;
  bottom:0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  
}

.footer__socialImg {
    width: 24px; 
}
.footer__social {
    display: inline-block; 
}

.TituloRedes{
  color: #000000;
}

/* header */
header {
  background-color: #00FFFF;
  
}

nav {
  display: flex;
  align-items: center; 
}

.imgLogo {
  width: 100px; 
}

.logo{
    position: relative;
}

ul {
  display: flex;
  list-style: none; 
}

li {
  padding: 10px;
  list-style: none; }

.paginaActiva {
  color: #ff8000; 
}

a:hover {
  color: #ff8000; }

/* index */
.imgIndex {
  width: 300px;
 
}
.index{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  "futsal1 futsal2""futsal3";
  justify-content: center;
  margin: 20px;
}

.parrafo {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  background: linear-gradient(to top, #00FFFF, #000000); }

.bienvenidos {
  font-size: 3rem; }

.video{
  text-align: center;
}

main {
  width: 500px;
  margin: 0 auto; }

/* tienda */
.tienda{
  display: grid;
        grid-gap: 2rem;
        grid-template-columns: auto auto auto auto auto ;
        grid-template-rows: auto auto auto auto auto ;
        background-color: #4d4d4d;
}

.TituloTienda{
  text-align: center;
}

/* galeria */
.GaleriaJugadores {
  width: 90px;
  max-width: 80vmax;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "falcao ferrao vaporaki stazzone"
 "gomez ricardinho bateria lozano";
  gap: 10px;
  justify-content: center; }

.GaleriaJugadores__GaleriaJugadores2 {
  width: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center; }

.GaleriaJugadores__GaleriaJugadores2 :hover {
  transform: scale(1.5, 1.5); }

/* cuenta-contacto */
.enviado:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: #000000; }

.registrate{
  text-align: center;
  background-color: #808080;
  
}
.consulta{
  text-align: center;
}
.cContacto{
  background-color: #808080;
}
.TituloContacto{
  color: #FFFFFF;
}

/*Nosotros*/

.imgNosotros{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pNosotros{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  background-color: #FFFFFF;
  color: #000000;
}
.imgNosotros2 {
  width: 300px; 
}

img {
  width: 100px; }

a {
  color: #000000;
  text-decoration: none; }

/* mobile first */
@media only screen and (min-width: 576px) {
  .GaleriaJugadores {
    width: 50px; } }

@media only screen and (min-width: 768px) {
  .GaleriaJugadores {
    width: 25px; } }
