/* cuenta-contacto */
.enviado:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: #000000; }

.registrate{
  text-align: center;
  background-color: #808080;
  margin:20px;
  
}
.cContacto{
  text-align: center;
  background-color: #808080;
  margin:20px;
}
.TituloContacto{
  color: #FFFFFF;
  text-align: center;
}