/* cuenta-contacto */
.enviado:hover {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #000000; }
  
  .registrate{
    text-align: center;
    background-color: #808080;
    
  }
  .consulta{
    text-align: center;
  }
  .cContacto{
    background-color: #808080;
  }
  .TituloContacto{
    color: #FFFFFF;
  }