h1{
    color:$colorNegro;
}
h2{
    color:$colorNegro;
}
img{
    width: 100px;
}
a{
    color:$colorNegro;
    text-decoration: none;
}

.socialImg{
    width: 24px;

}
.social{
    display: inline-block;
}



