/* header */
header {
    background-color: #00FFFF;
    
  }
  
  nav {
    display: flex;
    align-items: center; 
  }
  
  .imgLogo {
    width: 100px; 
  }
  
  .logo{
      position: relative;
  }
  
  ul {
    display: flex;
    list-style: none; 
  }
  
  li {
    padding: 10px;
    list-style: none; }
  
  .paginaActiva {
    color: #ff8000; 
  }
  
  a:hover {
    color: #ff8000; }





