/* index */
.imgIndex {
    width: 300px;
   
  }
  .index{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "futsal1 futsal2""futsal3";
    justify-content: center;
    margin: 20px;
  }
  
  .parrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    background: linear-gradient(to top, #00FFFF, #000000); 
    margin: 15px;  
  }
  
  .bienvenidos {
    font-size: 3rem; }
  
  .video{
    text-align: center;
  }
  
  main {
    width: 500px;
    margin: 0 auto; }