/* index */
.imgParrafo{
    width: 150px;
}
.parrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    background: linear-gradient( to top,$colorCeleste ,$colorBlanco)
}

.bienvenidos{
    font-size: 3rem;
}
main{
    width:500px;
    margin: 0 auto;
}