/*Nosotros*/

.imgNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pNosotros{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.imgNosotros2 {
    width: 300px; 
}