/*Nosotros*/

.imgNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pNosotros{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background-color: #FFFFFF;
    color: #000000;
  }
  .imgNosotros2 {
    width: 300px; 
  }
  
  img {
    width: 100px; }
  
  a {
    color: #000000;
    text-decoration: none; }